body {
    background-color: #318CE7 !important;
}
.header{
 color: #505050;
 padding-bottom:50px;
}
.containerr{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}
.form-div{
   border: 1px solid #ffff;
   border-radius: 15px;
   padding:50px;
   display: flex;
   flex-direction: column;
   background-color: white;
   border: 1px solid white;
   align-items: center;
   justify-content: center;
}
.content{
    display: grid;
    grid-template-columns: repeat(2, 2fr); 
    column-gap: 30px;
    row-gap: 35px;
}
.content input{
    padding:8px;
    padding-right: 30px;
    border: 1px solid #B0B0B0 !important;
    border-radius: 5px;
}
.content-select{
    color: #A0A0A0;
     padding:8px;
    padding-right: 30px;
    border: 1px solid #B0B0B0 !important;
    border-radius: 5px;
}
.content input::placeholder {
    color: #A0A0A0; 
}

.icons{
    padding: 20px;
    display:flex;
    flex-direction: row;
    gap:30px;
    align-items: center;
    justify-content: center;
    
}
.icons span{
        color: white; /* Iconların rengini beyaz yapar */
        border-radius: 100%;         /* Yuvarlak çerçeve yapar */
        border: 1px solid white;
        justify-content: center;
        align-items: center; 
        padding:10px;
}
.icon{
    width:30px;
    height:30px;
}
.text{
    justify-content: center;
    align-items: center;
}
.text p{
    color:white;
}
